<a href="https://colab.research.google.com/github/ehdtkd6629/python/blob/main/py_B_ipynb_3_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1 파이썬 문법

## 자료형
#### 숫자형
* 점수  :  123, -20 ,0  
* 실수  :  123, 45, -4321.5, 6.08e9  
* 8진수 :  0o456, 0o123  
* 16진수 : 0xFF , 0x00, 0x0A

#### 변수
* 문자 또는 밑줄로 시작 (beta, _Lee)  
* 대소문자를 구분한다 (sum. Sum. SUM)  
* 영문자, 숫자, 밑줄(A~z, 0~9, _)  
* 파이썬 키워드는 사용 불가

In [3]:
a = 10
b = 20
c = a + b
print(c)

30

In [13]:
a = 50   
b = 10  
c = a/b  #나눗셈  
d = a//b  #몫을구하기  
e = a%b  #나머지만구하기   
#곱셈  
f = a*b   
g = a**b   # 제곱  
print(c,d,e,f,g)

5.0 5 0 500 97656250000000000

#### 문자열  
1. 큰 따음표 : "Hello World!" 
2. 작은 따음표 : '대한민국'  
3. 큰따음표 3개 : """Hello!"""  
4. 작은 따음표 3개 : 
'''Life is too short, Ypu need python'''

In [16]:
myName = "Dong Lee"  #카멜표기법(중간에 대문자)
my_name = "이동현"  #스네이크표기법(언더바 사용)
MyName = "dddd"  #파스칼표기법(앞에 대문자)
_my_name = "korea"  
MYNAME = "God is love"  
my2name = "12345"  
# 2myname = "9876"  불가능 앞에 숫자 불가능
#my-name = "michle" 불가능 - 때문
#my name = "kiki" 불가능 스페이스 때문
myStr = '123' #srt
myNum = 123  #int
print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [17]:
x,y,z = "포도", "딸기", "수박"  
print(x)
print(y)
print(z)

포도
딸기
수박

In [18]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [20]:
fruits = ["포도", "딸기", "수박"]
x, y, z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [22]:
x = "Life"
y = "is"
z = "Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [25]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형  
+ 텍스트  
+ 숫자  
+ 불(bool)

In [28]:
a = 100
b = 200  
sum = a+b
k = a-b
h = a*b
g = a/b
print(a, '+' , b , '=',sum)
print(a, '-' , b , '=',k)
print(a, '*' , b , '=',h)
print(a, '/' , b , '=',g)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수 이용한 계산기

In [34]:
a = int(input("첫번째 숫자를 입력해 주세요: "))
b = int(input("두번째 숫자를 입력해 주세요: "))
result = a+b
print(a, '+', b, '=', result)
result = a-b
print(a, '-', b, '=', result)
result = a*b
print(a, '*', b, '=', result)
result = a/b
print(a, '/', b, '=', result)
result = a//b
print(a, '//', b, '=', result)#몫
result = a%b
print(a, '%', b, '=', result)#나머지
result = a**b
print(a, '**', b, '=', result)#제곱

첫번째 숫자를 입력해 주세요: 2
두번째 숫자를 입력해 주세요: 5
2 + 5 = 7
2 - 5 = -3
2 * 5 = 10
2 / 5 = 0.4
2 // 5 = 0
2 % 5 = 2
2 ** 5 = 32